.short_description{
    margin: 4% 10%;
    padding: 1%;
    background-color: var(--md-sys-color-outline-variant);
    text-align: center;
    font-size: 24px;
    border-radius: 25px 0px 25px 0px;
}

.subtitle{
    font-size: 40px;
    padding: 0px;
    margin: 0;
}


.screenshots_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

.image_title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0%;
}

.screenshots {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
figcaption{
    font-size: smaller;
}

.image_paragraph {
    margin: 10px 15%;
    padding: 20px;
}

.feature_image {
    width: 500px;
    height: auto;
    display: inline-block;
}

.feature_info {
    margin-left: 20px;
    max-width: 59%;
    vertical-align: top;
    display: inline-block;
}

.feature_title {
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    padding: 0%;
    margin: 0% 0% 30px 0%;
}

.feature_description {
    font-size: 16px;
    display: inline-block;
    margin: 0% 0% 15px 0%;
}

@media (max-width: 900px) { 
    .screenshots_grid{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}