.short_description{
    margin: 4% 10%;
    padding: 1%;
    background-color: var(--md-sys-color-outline-variant);
    text-align: center;
    font-size: 24px;
    border-radius: 25px 0px 25px 0px;
}

.subtitle{
    font-size: 40px;
    padding: 0px;
    margin: 0;
}


.screenshots_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

.image_title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0%;
}

.screenshots {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
figcaption{
    font-size: smaller;
}

.image_paragraph {
    display: flex; /* Use flexbox for flexible layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    flex-direction: row;
    align-items: center; /* Vertically align items in the center */
    gap: 20px; /* Add some space between the image and the text */
    margin: 10px 15%;
    padding: 20px;
}

.feature_image {
    width: 50%;
    height: auto;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 300px;
    object-fit: cover;
}

.feature_info {
    margin-left: 20px;
    max-width: 50%;
    vertical-align: top;
    display: inline-block;
    flex-grow: 2; /* Allow the text to grow more than the image */
    flex-basis: 300px; /* Set a minimum width for the text before it wraps */
    min-width: 300px; /* Ensure the text has a decent minimum width */
}

.feature_title {
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    padding: 0%;
    margin: 0% 0% 30px 0%;
}

.feature_description {
    font-size: 16px;
    display: inline-block;
    margin: 0% 0% 15px 0%;
}

@media (max-width: 900px) { 
    .screenshots_grid{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}