fieldset{
    border:0;
    display: flex;
    flex-direction: column;
    padding: 2% 30%;
}

legend{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.radio_group{
    display: flex;
    justify-content:space-evenly;
}

label{
    padding-top: 10px;
}

button{
    margin-top: 20px;
    height: 20px;
}

.contact_article{
    height: calc(100vh - 846px);
}

.subtitle{
    text-align: left;
    font-size: 40px;
    padding: 20px 0 0 0;
    margin: 0;
}

@media (max-width: 768px) { 
    fieldset{
        border:0;
        display: flex;
        flex-direction: column;
        padding: 2% 10%;
        width: 150px;
    }
}