.subtitle{
    text-align: center;
    font-size: 40px;
    padding: 20px 10px 5px 10px;
    margin: 0;
}

.screenshots_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

.screenshots {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
figcaption{
    font-size: smaller;
}

@media (max-width: 900px) { 
    .screenshots_grid{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

#subtitle_description{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.card_view{
    border-radius: 25px 0 25px 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content:space-evenly;
    background-color: var(--md-sys-color-secondary-container);
    transition: background-color 0.6s;
    padding: 5px;
    height: 250px;
    margin: 10px 5% ;
    list-style-type: none;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    background-color: var(--md-sys-color-secondary-fixed-dim);
    min-width: 250px;
    width: 300px;
    margin: 20px;
    position: relative;
}

.card h3{
    border-radius: 24px 24px 0 0;
    background-color: var(--md-sys-color-on-primary-fixed-variant);
    color: var( --md-sys-color-primary-fixed);
    height: 30%;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.card p{
    color: var(--md-sys-color-shadow);
    text-align: center;
    padding: 35px 10px;
    margin: 0;
}

h3{
    margin-bottom: 0;
}

article p{
    margin-top: 0;
}

.cta_row{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content:space-evenly;
    padding: 0 5% 2% 5%;
}

.cta_img{
    width: 25px;
    height: 25px;
}

.cta_button {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
    font-size: x-small;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.cta_button:hover {
    background-color: var(--md-sys-color-tertiary-fixed);
    color: var(--md-sys-color-on-tertiary-fixed);
}

.cta_button_selected{
    background-color: var(--md-sys-color-tertiary-fixed);
    color: var(--md-sys-color-on-tertiary-fixed);
}

.articale_list{
    margin: 0;
    padding: 0;
    
}

@media (max-width: 1268px) {
    #hero_section{
        left: calc(50% - 300px);
        margin: 150px auto auto auto;
        width: 600px;

    }
    .hero_title, .hero_title_primary{
        font-size: 84px;
    }

    .hero_title_primary {
        margin-top: -25px;
    }

    .hero_text{
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    #hero_section{
        left: calc(50% - 200px);
        margin: 100px auto 0 auto;
        width: 400px;

    }
    .hero_title, .hero_title_primary{
        font-size: 55px;
    }

    .hero_title_primary {
        margin-top: -20px;
    }

    .hero_text{
        font-size: 20px;
    }
    .hero_buttons{
        flex-direction: column;
    }

    .hero_buttons .button{
        display: block;
        width: auto;
        text-align: center;
    }
}