.subtitle{
    text-align: center;
    font-size: 40px;
    padding: 20px 10px 5px 10px;
    margin: 0;
}

.screenshots_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

.screenshots {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
figcaption{
    font-size: smaller;
}

@media (max-width: 900px) { 
    .screenshots_grid{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

#subtitle_description{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.card_view{
    border-radius: 25px 0 25px 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content:space-evenly;
    transition: background-color 0.6s;
    padding: 0;
    height: 500px;
    margin: 10px 5% ;
    list-style-type: none;
}


.app_card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    min-width: 300px;
    width: 300px;
    align-items: center;
    border: 1px solid var(--md-sys-color-secondary);
    border-radius: 20px;
    overflow: hidden;
    margin: auto 5px;
}

.card_image_container{
    height: 50%;
    width: 100%;
    background-color: var(--md-sys-color-primary);
    overflow: hidden;
}

.card_content{
    height: 50%;
    width: 100%;
    background-color: var(--md-sys-color-primary-container);
    overflow: hidden;
    box-shadow: 0 -10px 8px 0 hsl(0deg 0% 0% / 0.3);
}

.phone_outline{
    position: relative;
    width: 200px;
    height: 200px;
    left: 50px;
    top: 25px;
    background-color: var(--md-sys-color-surface);
    border-radius: 35px 35px 0 0;
    overflow: hidden;
}

.app_logo{
    position: relative;
    width: 100px;
    height: 100px;
    left: 100px;
    top: -100px;
    z-index: 20;
}

.card_content h3{
    text-align: center;
    color: var(--md-sys-color-on-primary-container);
    font-size: 40px;
    margin: 5px 0 0 0;
    padding: 0;
}
.card_content p{
    color: var(--md-sys-color-on-primary-container);
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}
.card_content a{
    text-align: center;
    width: auto;
    padding: 5px 10px;
}

h3{
    margin-bottom: 0;
}

article p{
    margin-top: 0;
}

.article_list{
    margin: 0;
    padding: 0;
    
}