@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
h1{
    font-size: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
    transition: background-color 0.6s;
}

h2, h3, h4, h5, h6{
    color: var(--md-sys-color-on-background);
    transition: color 0.6s;
}

.text_logo{
    font-weight: 100;
    color: var(--md-sys-color-primary);
}

p{
    color: var(--md-sys-color-on-background);
    transition: color 0.6s;
}

article{
    margin: 0 15% 4% 15%;
}

a{
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


#logo{
    display: flex;
    position: absolute;
    left: 0;
    padding-left: 10px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#user_info{
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 10px;
}

#theme_icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: center;
}

#user_info p{
    color: var(--md-sys-color-on-secondary-container);
    padding: 0 10px;
    margin: auto;
    font-size: 15px;
}


#user_image{
    border: var(--md-sys-color-primary) 5px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#logo_image{
    width: 45px;
    height: 45px;
    margin: auto;
    padding-top: 4px;
}

#logo h2{
    margin: auto;
    color: var(--md-sys-color-on-secondary-container);
    padding-left: 10px;
}

#menu{
    position: fixed;
    width: 150px;
    z-index: 1;
    background-color: var(--md-sys-color-surface);
    right: calc(10% - 15px);
    top: 40px;
    padding: 25px 0 0 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.6s;
}

.menu_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu_list a{
    width: 100%;
    height: 100%;
    color: var(--md-sys-color-on-primary-container);
    cursor: pointer;
}

.menu_item{
    display: flex;
    width: auto;
    height: 40px;
    background-color: var(--md-sys-color-primary-container);
    margin: 5px;
    border-radius: 15px;
}

.menu_image{
    padding: 4px 4px 4px 8px;
    width: 32px;
    height: 32px;
}

.menu_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
}

.clickable{
    cursor: pointer;
}

#title_banner{
    position: relative;
    height: 600px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.6s, height 0.6s ;
}

#title_banner.light{
    background-image: url(../images/web_image_bar_light.webp);
}

#title_banner.dark{
    background-image: url(../images/web_image_bar_dark.webp);
}

#image_aside{
    position:absolute;
    left: -150px;
}
#image_aside img{
    height: 550px;
    width: 550px;
    padding-top: 25px;
}

#text_aside{
    float: right;
    padding-right: 50px;
    font-size: 75px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
}

#text_aside p{
    font-size: 25px;
    font-weight: normal;
    top: -10px;
    float: right;
    padding-right: 10px;
}

#hero_section{
    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 300px);
    margin: 100px auto 0 auto;
    width: 1000px;
    text-align: center;
    align-self: center;
    opacity: 0;
    transition: opacity 0.6s;
}

#image_aside,
#text_aside {
    opacity: 1;
    transition: opacity 0.6s;
}

.hero_title, .hero_title_primary{
    font-size: 125px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.hero_title_primary{
    margin-top: -45px;
    color: var(--md-sys-color-primary);
}

.hero_text{
    margin-top: 40px;
    font-size: 30px;
}
.hero_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.hero_buttons .button{
    background-color: var(--md-sys-color-on-primary);
    font-size: 25px;
    margin: 30px 0 0 0;
}

.button.outline{
    background-color: transparent;
    border: 1px solid var(--md-sys-color-on-primary);
    transition: border 0.3s;
}

.button.outline:hover{
    border: 1px solid var(--md-sys-color-primary);
}

@media (max-width: 1268px) {
    #hero_section{
        left: calc(50% - 300px);
        margin: 150px auto auto auto;
        width: 600px;

    }
    .hero_title, .hero_title_primary{
        font-size: 76px;
    }

    .hero_title_primary {
        margin-top: -25px;
    }

    .hero_text{
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    #hero_section{
        left: calc(50% - 200px);
        margin: 125px auto 0 auto;
        width: 400px;

    }
    .hero_title, .hero_title_primary{
        font-size: 52px;
    }

    .hero_title_primary {
        margin-top: -20px;
    }

    .hero_text{
        font-size: 20px;
    }
    .hero_buttons{
        flex-direction: column;
    }

    .hero_buttons .button{
        display: block;
        width: auto;
        text-align: center;
    }
}



#header{
    display: flex;
    justify-content:space-between;
    background-color: var(--md-sys-color-secondary-container);
    padding: 5px 15px 5px 15px;
    height: 50px;
    border-radius: 50px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    top: 20px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
    padding: 0 2px 0 2px;
}

nav ul li a {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.selected{
  background-color: var(--md-sys-color-primary);
  opacity: 0.75;
  color: var(--md-sys-color-on-primary);
  transition: opacity 0.3s;
}

nav ul li a:hover {
  display: block;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
}

.button{
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 50px;
    border: 0 solid gray;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    font-size: 15px;
}

.button:hover {
    display: block;
    background-color: var(--md-sys-color-primary);
    opacity: 1;
    color: var(--md-sys-color-on-primary);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 1268px) { 
    #image_aside {
        left: -300px;
    }

    #text_aside {
    float: right;
    padding-right: 5px;
    font-size: 75px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }
}

@media (max-width: 900px) { 
    #image_aside {
        display: none; 
    }

    #theme_icon{
        padding-right: 10px;
    }

    #text_aside {
    float: right;
    padding-right: 5px;
    font-size: 45px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }

    #header{
        top: 5px;
    }

    .not_important{
        display: none;
    }
}

@media (max-width: 400px) { 
    #image_aside {
        display: none; 
    }

    #text_aside {
    float: right;
    padding-right: 2px;
    font-size: 20px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }

}


footer{
    font-size: 10px;
    font-weight: 100;
    display: flex;
    margin: auto;
    padding: 5px 15px;
    justify-content:space-between;
    background-color: var(--md-sys-color-inverse-surface);
}

footer ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 0;
}

footer ul li{
    float: left
}

.footer_text{
    color: var(--md-sys-color-inverse-on-surface);
}

.social_img{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}



#cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 320px;
    background: var(--md-sys-color-inverse-surface);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

#cookie-banner h4 {
    margin: 0 0 8px;
    font-size: 16px;
    color: var(--md-sys-color-inverse-on-surface);
}

#cookie-banner p {
    font-size: 14px;
    margin: 0 0 12px;
    line-height: 1.4;
    color: var(--md-sys-color-inverse-on-surface);
}

.cookie-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.cookie-actions button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.accept {
    background: #4CAF50;
    color: #fff;
}

.decline {
    background: #555;
    color: #fff;
}

.input {
    margin-top: 5px
}

input {
    border: solid 2px var(--md-sys-color-primary);
    border-radius: 3px;
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface);
    font-size: 15px;
    font-weight: 100;
    height: 40px;
    width: calc(100% - 10px);
    padding-left: 10px;
}

label {
    margin-left: 8px;
    font-weight: lighter;
    position: absolute;
    margin-top: -10px;
    background: var(--md-sys-color-surface-variant);
    padding: 0 5px;
    color: var(--md-sys-color-on-surface);
}