@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
h1{
    font-size: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
    transition: background-color 0.6s;
}

h2, h3, h4, h5, h6{
    color: var(--md-sys-color-on-background);
    transition: color 0.6s;
}

p{
    color: var(--md-sys-color-on-background);
    transition: color 0.6s;
}

article{
    margin: 0 15% 4% 15%;
}

a{
    text-decoration: none;
    margin: none;
    padding: none;
}


#logo{
    display: flex;
    position: absolute;
    left: 0;
    padding-left: 10px;
}

nav{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#user_info{
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 10px;
}

#theme_icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: center;
}

#user_info p{
    color: var(--md-sys-color-on-secondary-container);
    padding: 0 10px;
    margin: auto;
    font-size: 15px;
}


#user_image{
    border: var(--md-sys-color-primary) 5px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#logo_image{
    width: 45px;
    height: 45px;
    margin: auto;
    padding-top: 4px;
}

#logo h2{
    margin: auto;
    color: var(--md-sys-color-on-secondary-container);
    padding-left: 10px;
}


#title_banner{
    position: relative;
    height: 600px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.6s;
}

#title_banner.light{
    background-image: url(../images/web_image_bar_light.webp);
}

#title_banner.dark{
    background-image: url(../images/web_image_bar_dark.webp);
}

#image_aside{
    position:absolute;
    left: -150px;
}
#image_aside img{
    height: 550px;
    width: 550px;
    padding-top: 25px;
}

#text_aside{
    float: right;
    padding-right: 50px;
    font-size: 75px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
}

#text_aside p{
    font-size: 25px;
    font-weight: normal;
    top: -10px;
    float: right;
    padding-right: 10px;
}

#header{
    display: flex;
    justify-content:space-between;
    background-color: var(--md-sys-color-secondary-container);
    padding: 5px 15px 5px 15px;
    height: 50px;
    border-radius: 50px;
    margin: 5px 15px 0px 15px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    top: 20px;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
    padding: 0 2px 0 2px;
}

nav ul li a {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.selected{
  background-color: var(--md-sys-color-primary);
  opacity: 0.75;
  color: var(--md-sys-color-on-primary);
  transition: opacity 0.3s;
}

nav ul li a:hover {
  display: block;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  
}

@media (max-width: 1268px) { 
    #image_aside {
        left: -300px;
    }

    #text_aside {
    float: right;
    padding-right: 5px;
    font-size: 75px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }
}

@media (max-width: 900px) { 
    #image_aside {
        display: none; 
    }

    #text_aside {
    float: right;
    padding-right: 5px;
    font-size: 45px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }

    #header{
        top: 5px;
    }

    .not_important{
        display: none;
    }
}

@media (max-width: 400px) { 
    #image_aside {
        display: none; 
    }

    #text_aside {
    float: right;
    padding-right: 2px;
    font-size: 20px;
    font-weight: bold;
    line-height: .01;
    padding-top: 150px;
    }

  
    #title_banner {
        height: 600px;
        background-image: url(../images/web_image_bar_normal.webp);
    }

}


footer{
    font-size: 10px;
    font-weight:light;
    display: flex;
    margin: auto;
    padding: 5px 15px;
    justify-content:space-between;
    background-color: var(--md-sys-color-inverse-surface);
}

footer ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 0;
}

footer ul li{
    float: left
}

#footer_text{
    color: var(--md-sys-color-inverse-on-surface);
}

.social_img{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}
